{% extends 'shared/home.html' %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm" style="background-color: rgb(207, 244, 228); border-radius: 30px;">
                <div class="card-body p-5">
                    <h1 class="text-center" style="color: rgb(4, 108, 23);">User Details</h1>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="row mb-3">
                            <div class="col-md-6">
                                {% include 'components/form_field.html' with field=form.gender %}
                            </div>
                            <div class="col-md-6">
                                {% include 'components/form_field.html' with field=form.date_of_birth %}
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            {% comment %} <div class="col-md-6">
                                {% include 'components/form_field.html' with field=form.age %}
                            </div> {% endcomment %}
                            <div class="col-md-6">
                                {% include 'components/form_field.html' with field=form.phone_number %}
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col-md-6">
                                {% include 'components/form_field.html' with field=form.smoking_status %}
                            </div>
                            <div class="col-md-6">
                                {% include 'components/form_field.html' with field=form.drinking_status %}
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col-md-6">
                                {% include 'components/form_field.html' with field=form.interests %}
                            </div>
                            <div class="col-md-6">
                                {% include 'components/form_field.html' with field=form.hobbies %}
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col-md-6">
                                {% include 'components/form_field.html' with field=form.qualification %}
                            </div>
                            <div class="col-md-6">
                                {% include 'components/form_field.html' with field=form.profile_photo %}
                            </div>
                        </div>
                        
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mt-3" style="background-color:rgb(4, 108, 23); border-color:rgb(4, 108, 23);">
                                Register
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}